* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.main {
  width: 700px;
  margin: auto;
  background: #000;
}

.slides {
  height: 320px;
  position: relative;
}

.slides ul li {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* 这里实现淡入淡出的关键 */
  transition: all 0.3s;
}

.slides li.active {
  /* display: block; */
  opacity: 1;
}

.slides .extra {
  width: 700px;
  height: 53px;
  line-height: 53px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.slides .extra h3 {
  width: 82%;
  margin: 0;
  margin-right: 20px;
  padding-left: 20px;
  color: #98e404;
  font-size: 28px;
  float: left;
  font-weight: 500;
  font-family: "Microsoft Yahei", Tahoma, Geneva;
}

.slides .extra a {
  width: 30px;
  height: 29px;
  display: block;
  float: left;
  margin-top: 12px;
  margin-right: 3px;
  background-image: url(../assets/icon_focus_switch.png);
}

.slides .extra .prev {
  background-position: 0 0;
}

.slides .extra .prev:hover {
  background-position: -30px 0;
}

.slides .extra .next {
  background-position: -60px 0;
}

.slides .extra .next:hover {
  background-position: -90px 0;
}

.indicator {
  padding: 10px 0;
}

.indicator ul {
  list-style-type: none;
  margin: 0 0 0 4px;
  padding: 0;
  overflow: hidden;
}

.indicator ul li {
  position: relative;
  float: left;
  width: 60px;
  margin: 0 4px 0 5px;
  text-align: center;

  cursor: pointer;
}

.indicator li img {
  display: block;
  border: 0;
  text-align: center;
  width: 60px;
}

.indicator li .mask {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.indicator li .border {
  display: none;
  width: 54px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  border: 3px solid #98e404;
}

/* li里面的mask 和 border 刚开始都是显示的 */
/* 我们写一个样式css */
.indicator .active .mask {
  display: none;
}

.indicator .active .border {
  display: block;
}
